Basic/01/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Basic/01/obj/Debug/net6.0/01.AssemblyInfo.cs
Basic/01/obj/Debug/net6.0/01.AssemblyInfoInputs.cache
Basic/01/obj/Debug/net6.0/01.csproj.AssemblyReference.cache
Basic/01/obj/Debug/net6.0/01.GeneratedMSBuildEditorConfig.editorconfig
Basic/01/obj/Debug/net6.0/01.GlobalUsings.g.cs
Basic/02/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Basic/02/obj/Debug/net6.0/02.AssemblyInfo.cs
Basic/02/obj/Debug/net6.0/02.AssemblyInfoInputs.cache
Basic/02/obj/Debug/net6.0/02.csproj.AssemblyReference.cache
Basic/02/obj/Debug/net6.0/02.GeneratedMSBuildEditorConfig.editorconfig
Basic/02/obj/Debug/net6.0/02.GlobalUsings.g.cs
Basic/03/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Basic/03/obj/Debug/net6.0/03.AssemblyInfo.cs
Basic/03/obj/Debug/net6.0/03.AssemblyInfoInputs.cache
Basic/03/obj/Debug/net6.0/03.csproj.AssemblyReference.cache
Basic/03/obj/Debug/net6.0/03.GeneratedMSBuildEditorConfig.editorconfig
Basic/03/obj/Debug/net6.0/03.GlobalUsings.g.cs
Basic/04/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Basic/04/obj/Debug/net6.0/04.AssemblyInfo.cs
Basic/04/obj/Debug/net6.0/04.AssemblyInfoInputs.cache
Basic/04/obj/Debug/net6.0/04.csproj.AssemblyReference.cache
Basic/04/obj/Debug/net6.0/04.GeneratedMSBuildEditorConfig.editorconfig
Basic/04/obj/Debug/net6.0/04.GlobalUsings.g.cs
Basic/05/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Basic/05/obj/Debug/net6.0/05.AssemblyInfo.cs
Basic/05/obj/Debug/net6.0/05.AssemblyInfoInputs.cache
Basic/05/obj/Debug/net6.0/05.csproj.AssemblyReference.cache
Basic/05/obj/Debug/net6.0/05.GeneratedMSBuildEditorConfig.editorconfig
Basic/05/obj/Debug/net6.0/05.GlobalUsings.g.cs
Basic/06/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Basic/06/obj/Debug/net6.0/06.AssemblyInfo.cs
Basic/06/obj/Debug/net6.0/06.AssemblyInfoInputs.cache
Basic/06/obj/Debug/net6.0/06.csproj.AssemblyReference.cache
Basic/06/obj/Debug/net6.0/06.GeneratedMSBuildEditorConfig.editorconfig
Basic/06/obj/Debug/net6.0/06.GlobalUsings.g.cs
Basic/07/bin/Debug/net6.0/07.deps.json
Basic/07/bin/Debug/net6.0/07.dll
Basic/07/bin/Debug/net6.0/07.exe
Basic/07/bin/Debug/net6.0/07.pdb
Basic/07/bin/Debug/net6.0/07.runtimeconfig.json
Basic/07/obj/07.csproj.nuget.dgspec.json
Basic/07/obj/07.csproj.nuget.g.props
Basic/07/obj/07.csproj.nuget.g.targets
Basic/07/obj/project.assets.json
Basic/07/obj/project.nuget.cache
Basic/07/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Basic/07/obj/Debug/net6.0/07.AssemblyInfo.cs
Basic/07/obj/Debug/net6.0/07.AssemblyInfoInputs.cache
Basic/07/obj/Debug/net6.0/07.assets.cache
Basic/07/obj/Debug/net6.0/07.csproj.AssemblyReference.cache
Basic/07/obj/Debug/net6.0/07.csproj.CoreCompileInputs.cache
Basic/07/obj/Debug/net6.0/07.csproj.FileListAbsolute.txt
Basic/07/obj/Debug/net6.0/07.dll
Basic/07/obj/Debug/net6.0/07.GeneratedMSBuildEditorConfig.editorconfig
Basic/07/obj/Debug/net6.0/07.genruntimeconfig.cache
Basic/07/obj/Debug/net6.0/07.GlobalUsings.g.cs
Basic/07/obj/Debug/net6.0/07.pdb
Basic/07/obj/Debug/net6.0/apphost.exe
Basic/07/obj/Debug/net6.0/ref/07.dll
Basic/07/obj/Debug/net6.0/refint/07.dll
Basic/08/bin/Debug/net6.0/08.deps.json
Basic/08/bin/Debug/net6.0/08.dll
Basic/08/bin/Debug/net6.0/08.exe
Basic/08/bin/Debug/net6.0/08.pdb
Basic/08/bin/Debug/net6.0/08.runtimeconfig.json
Basic/08/obj/08.csproj.nuget.dgspec.json
Basic/08/obj/08.csproj.nuget.g.props
Basic/08/obj/08.csproj.nuget.g.targets
Basic/08/obj/project.assets.json
Basic/08/obj/project.nuget.cache
Basic/08/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Basic/08/obj/Debug/net6.0/08.AssemblyInfo.cs
Basic/08/obj/Debug/net6.0/08.AssemblyInfoInputs.cache
Basic/08/obj/Debug/net6.0/08.assets.cache
Basic/08/obj/Debug/net6.0/08.csproj.AssemblyReference.cache
Basic/08/obj/Debug/net6.0/08.csproj.CoreCompileInputs.cache
Basic/08/obj/Debug/net6.0/08.csproj.FileListAbsolute.txt
Basic/08/obj/Debug/net6.0/08.dll
Basic/08/obj/Debug/net6.0/08.GeneratedMSBuildEditorConfig.editorconfig
Basic/08/obj/Debug/net6.0/08.genruntimeconfig.cache
Basic/08/obj/Debug/net6.0/08.GlobalUsings.g.cs
Basic/08/obj/Debug/net6.0/08.pdb
Basic/08/obj/Debug/net6.0/apphost.exe
Basic/08/obj/Debug/net6.0/ref/08.dll
Basic/08/obj/Debug/net6.0/refint/08.dll
